<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <style>
        .one{
            color: red;
        }
    </style>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
</script>

</head>
<body>
<div>
    <img src="http://bbs.colg.cn/forum.php?mod=attachment&aid=MzQ0NDY1NnwwYTg0ODFlMHwxNTIwNTcxOTIwfDE0OTExMTF8NzE2NDI3MQ%3D%3D&noupdate=yes"></div>
</div>

</body>

</html>