{% extends "base.html" %}
{% block title %} 我自己测试东西的地方 {% endblock %}
{% block page_content %}
<div class="page-header">
    哥哥不行，那里是尿尿的地方
</div>

<div class="container">
    <h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>
$SCRIPT_ROOT = "127.0.0.1:5000"
</script>
<script type=text/javascript>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $.get("/example/jquery/demo_test.asp",function(data,status){
      alert("数据：" + data + "\n状态：" + status);
    });
  });
});
</script>
</script>
{% endblock %}
